body {
	background-color: black;
	color: white;
	font-family: 'Roboto', 'Segoe UI', sans-serif;
}

a {
	color: white;
}

#footer {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

#ihatecss {
	position: absolute;
	min-width: 500px;
	left: 50%;
}

.size {
	font-size: 15px;
}

.links {
	white-space: nowrap;
}

table {
	position: relative;
	width: 100%;
	min-width: 700px;
	left: -50%;
	text-align: center;
}

td {
	font-size: 30px;
}
