<!DOCTYPE html>
<html>
	<head>
		<link href="//fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/static/index.css" />
		<title>Forge Informatics Notes</title>
	</head>
	<body>
		<h2>Forge Informatics Notes</h2>
		<h3 id="subtitle">by AiryShift</h3>
		<div id="ihatecss">
			<table id="files_table">
				<tr>
					<th>Name</th>
					<th>Links</th>
				</tr>
				{% for file in files %}
				<tr>
					<td>{{ file['pretty'] }}</td>
					<td class="links">
						<a href="{{ file['pdflink'] }}" title="PDF version of {{ file['pretty'] }}">PDF</a> <span class="size">({{ file['sizePDF'] }})</span>
						&bull;
						<a href="{{ file['texlink'] }}" title="Raw TeX source of {{ file['pretty'] }}">LaTeX</a> <span class="size">({{ file['sizeTex'] }})</span>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="footer">
			<a href="https://github.com/keepcalm444/forge-pdf-listing">Source</a> - website &copy; 2016 Simon Shields
		</div>
	</body>
</html>
